VITE_WORKOS_CLIENT_ID=client_12345
# This should be your Custom Authentication Domain in production
VITE_WORKOS_API_HOSTNAME=api.workos.com
VITE_CUSTOM_API_URL="http://localhost:8080"
WORKOS_API_KEY="sk_test_eXtra-seCure"
